{% extends 'usermaster_base/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> -->
    <title>Register</title>
</head>
<body>

    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card-header text-white bg-info">
                    <div class="card-title">
                        Add User
                    </div>
                </div>
                <div class="card-body border">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.name}}
                                <br>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button class="btn btn-info" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

{% endblock content %}