{% extends 'usermaster_base/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content %}
  <div class="col-md-12">  
 <form method="post" class="post-form" action="/usermaster/update/{{ machine.id }}">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <h3>Update Details</h3>  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Machine Id:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{machine.id}}"/>  
  </div>  
   </div>  
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Machine Name:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="machine_name" id="id_name" required maxlength="100" value="{{machine.machine_name}}" />  
  </div>  
   </div>    
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Operation Number:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="operation_no" id="id_contact" required maxlength="15" value="{{machine.operation_no}}" />  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-success btn-lg">Update</button>  
  </div>  
   </div>  
  </div>  
 </form>
 {% endblock content %}
</body>
</html>
