{% extends 'usermaster_base/base.html' %}

{% block title %}Master{% endblock title %}

{% block content %}
    <!-- Widgets  -->
<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
} 
</style>
<body>
    <div class="container">
        <!-- <img src="https://raw.githubusercontent.com/manoj5078/images2/main/welcome.png"> -->
        <br><br><br><br><br><br><br><br>
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://raw.githubusercontent.com/manoj5078/images2/main/less.jpg" alt=""> Welcome Click On Left Panel</h1>
      </div>
</body>
{% endblock content %}