{% extends 'usermaster_base/base.html' %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
</style>
</head>
{% block content %}
<body>

<div class="container">
  <!-- <img src="https://raw.githubusercontent.com/manoj5078/images2/main/welcome.png"> -->
  <br><br><br><br><br><br><br><br>
  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://raw.githubusercontent.com/manoj5078/images2/main/less.jpg" alt=""> Welcome Click On Left Panel</h1>
</div>
{% endblock content %}
</body>
</html> 