{% extends 'usermaster_base/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
 
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div style="width: 400px;" class="alert alert-success{{ message.tag }}">
                <h5 style="color: green;">{{message}} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button></h5>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <form  enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <h4>Upload Video</h4>
                {{form.as_p}}
            </div>
            <input class="btn btn-info" type="submit" value="Upload"/>
        </form>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="90%">
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <th>ID</th>
                <th>Name</th>
                <th>Videofile</th>
                <th>Delete</th>
            </thead>
        <tbody>
        {% for video in lastvideo %}  
        <tr>  
         <td><input type="checkbox" class="checkthis" /></td>
         <td>{{ video.id }}</td>  
         <td>{{ video.name }}</td>  
         <td>{{ video.videofile}}</td>  
         <td><a href="/usermaster/vdelete/{{ video.id }}"><span style="color: brown;" class="glyphicon glyphicon-trash"></span></a></p></td>  
        </tr>  
        {% endfor %} 
        </tbody>
             
        </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#bootstrapdatatable').DataTable({     
          "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
            "iDisplayLength": 3
           } 
        );
    } );
 </script>

</body>
</html>
{% endblock content %}




